/*
Template : Projet GLG105 - CNAM Madagascar
Author: R. Narindra, R. Voahary
Version: 1.0
*/
/*
    -------------
    TABLE CONTENT
    -------------
	-- Fonts
	-- Custom Style
	-- Color
	-- Button
	-- Login
*/
/* Fonts */
/* Custom Style */
html{
    width: 100%;
    height: auto;
    min-height: 100vh;
}
body{
    width: 100%;
    color: #888;
    background: #fafafa;
    height: auto;
    font-size: 14px;
}
label {
    font-size: 12px;
    font-weight: 600;
    margin: 0 0 5px;
}
.form-control {
    border-color: #dcdfdf;
    border-radius: 2px;
}
.form-control:focus {
    transform: scale(1.007);
    box-shadow: 0px 1px 2px 2px rgb(243 243 243);
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.btn-ue{
    background: rgb(193,10,38);
    color: #fff;
    margin-bottom: 7px;
}
.btn-ue-active{
    background: #f5f5f5;
    color: #333;
}
.ue-panel{
    max-height: 114px;
}
.panel .ellipsis-panel{
    transition: all 0.3s;
}
.panel:hover .ellipsis-panel{
    z-index: 999;
    width: 230px;
    background: #ffffff;
    padding: 5px;
    border-left: 3px solid;
    box-shadow: 0 3px 6px rgb(0 0 0 / 16%), 0 3px 6px rgb(0 0 0 / 23%);
    word-break: unset;
    overflow: visible;
    text-overflow: unset;
    white-space: unset;
}
.ellipsis-panel{
    word-break: break-all;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.table-note tbody tr td, .table-note thead tr th{
    padding: 7px 10px;
}
.table-note tbody tr:nth-of-type(odd) {
    background: #f5f5f5;
}
.logo-left{
    height: 62px;
}
.head-bord{
    display: flex;
    align-items: center;
}
.head-bord .navbar-right{
    margin-left: auto;
    color: #fff;
}
/* Tab note edit */
.tab-note-edit input{
    border: 1px solid #dadada;
}
/* Color */
.primary-color{
    color: rgb(193,10,38);
}
.bg-primary-color{
    background-color: rgb(193,10,38);
}
.secondary-color{
    color: #fff;
}
/* Button */
.btn-primary {
    background: rgb(193,10,38);
    outline: none;
    color: #fff;
    border: 1px solid rgb(193,10,38);
}

.btn-primary:hover, .btn-primary:active{
    background-color: #fff;
    color: rgb(193,10,38);
    border: 1px solid rgb(193,10,38);
}

/* Login */
.login-pane{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.login-pane h1{
    font-size: 30px;
}
.box-login{
    background: #fff;
    padding: 40px 20px;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.panel-formation .panel{
    box-shadow: none;
    border: 1px solid #ddd;
}
/* Header */
header{
    width: 100%;
    height: auto;
}
.navbar{
    box-shadow: none;
}
.navbar .navbar-brand{
    padding: 0px;
}
.navbar .navbar-brand img{
    height: 50px;
}

/* Main */
.content-main{
    width: 100%;
    height: auto;
}
/* Service */
.list-pane-services{
    width: 100%;
    height: auto;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}
.list-pane-services .item{
    min-width: 150px;
    min-height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-pane-services .item{
    width: 100%;
    background: #fff;
    transition: all 0.3s;
}
.list-pane-services .item a{
    width: 100%;
    height: 150px;
    color: #3c3c3c;
    transition: all 0.3s;
}
.list-pane-services .item a div:first-child{
    height: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.list-pane-services .item a div:last-child{
    height: 25%;
    bottom: 0px;
    background: #eaeaea;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s;
}
.list-pane-services .item:hover a div:last-child{
    color: #fff;
    background: rgb(193,10,38);
    text-decoration: none;
}
.list-pane-services .item i {
    font-size: 45px;
    display: block;
}

